body{
    background-color: #0c0032;
}


#root{
    height: 100%;
    width: 100%;
}

.header_top{
    background-color: #190060;
    width: 100%;
    height: 2.75rem;
    border-radius: 10px;
}

.main_body{
    background-color: #282828;
}