
@font-face {
    font-family: Poppins;
    src: url(Poppins-Bold.ttf);
  }

  
body {
    background-color: hsl(220, 22%, 16%);
    overflow-y: hidden;
    
}

::-webkit-scrollbar {
    width: 10px;

  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
    border-radius: 1vh;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    
  }

  #root {
    display: flex;
    flex-direction: column;
  }